<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
    
    <!-- daostubs and service -->
<!--    <bean id="daoImpl" class="com.mycompany.vendingmachine.dao.DaoImpl"/>
    <bean id="daoTest" class="com.mycompany.vendingmachine.dao.DaoTest">
        <constructor-arg ref="daoImpl"/>
    </bean>-->
    
    <!-- serviceLayertest -->
    <bean id="daoStub" class="com.mycompany.vendingmachine.dao.DaoStubImpl"/>
    <bean id="auditDaoImpl" class="com.mycompany.vendingmachine.dao.AuditDaoImpl"/>
    <bean id="serviceLayer" class="com.mycompany.vendingmachine.service.ServiceImpl">
        <constructor-arg ref="daoStub"/>
        <constructor-arg ref="auditDaoImpl"/>
    </bean>
   
</beans>