<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!-- Bean definitions go here -->
    
    <!--Add view with UserIOImpl -->
    <bean id="userIO" class="mycompany.classroster.ui.UserIOImpl"/>
    <bean id="view" class="mycompany.classroster.ui.View">
        <constructor-arg ref="userIO"/>
    </bean>
    
    <!--Add Service with daos -->
    <bean id="dao" class="mycompany.classroster.dao.DAOImpl"/>
    <bean id="daoAudit" class="mycompany.classroster.dao.ClassRosterAuditDAOImpl"/>
    <bean id="service" class="mycompany.classroster.service.ServiceImpl">
        <constructor-arg ref="dao"/>
<!--   After adding aspect J, I was able to decouple AuditDao from service     <constructor-arg ref="daoAudit"/>-->
    </bean>
    
    <!--Add controller with view and service -->
    <bean id="controller" class="mycompany.classroster.controller.Controller">
        <constructor-arg ref="view"/>
        <constructor-arg ref="service"/>
    </bean>
    
    <bean id="advice" class="com.mycompany.classroster.advice.LoggingAdvice">
        <constructor-arg ref="daoAudit"/>
    </bean>
    
    <aop:config>
        <aop:aspect ref="advice">
            <aop:after-returning
                method="createAuditEntry"
                pointcut="execution(* mycompany.classroster.service.ServiceImpl.createStudent(..))"
            />
         
            <aop:after-returning
                method="createAuditEntry"
                pointcut="execution(* mycompany.classroster.service.ServiceImpl.removeStudent(..))"
            />
           
        </aop:aspect>
    </aop:config>
    
    
   
</beans>